<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta author="Marcos Otávio Dias.">
    <link rel="stylesheet" type="text/css" href="/estilo.css" />
    <link rel="stylesheet" type="text/css" href="/sobre.css" />
    <link rel="stylesheet" type="text/css" href="/vip.css" />
    <link rel="stylesheet" type="text/css" href="/cash.css" />
    <link rel="stylesheet" type="text/css" href="/unban.css" />
    <link rel="stylesheet" type="text/css" href="/pop-ups.css" >
    <link rel="icon" type="image/png" href="/images/favicon.ico"/>
    <script src="/main.js"></script>
    <title>CislaV2 - Home</title>
</head>

<body>
        <nav class="links"> 
            <label for="rd_sobre"><strog>Home</strog></label>
            <label for="rd_vips"><strog>Vips</strog></label>
            <label for="rd_cash"><strog>Cash</strog></label>
            <label for="rd_unban"><strog>Unban</strog></label>
        </nav>
    
        <div class="scroll">
            <input type="radio" name="grupo" id="rd_sobre" checked="true">
            <input type="radio" name="grupo" id="rd_vips">
            <input type="radio" name="grupo" id="rd_cash">
            <input type="radio" name="grupo" id="rd_unban">
    
            <section class="sections">
                <section class="bloco" id="Sobre">
                    <div class="inicio">
                        <h2> 
                            Sobre.
                        </h2>
                        <img src="images/Background1.png" alt="Banner">
                        <p2>
                            <strong> Em 2019</strong><br> Tinhamos um grande projeto. Criar o melhor servidor de RankUp da época. Um servidor ótimo, bem feito, tanto para aqueles que possuiam Minecraft™ original quanto aqueles que utilizavam a copia, sendo acissvel a todos, pois diversão boa é aquela que todos podem usufruir. Contudo, após longos meses de trabalho arduo, abrimos o Cisla, logo alguns meses de lançamento, já haviamos batido a meta de 150 players. E ele está voltando, melhor do que nunca, para dobrar esta meta.
                        </p2>
                        <h3>Postado por <strong>Marcos Otávio Dias</strong> às 12/01/2020, 12:00:10</h3> 
                    </div>
                    <div class="discord">
                        <iframe src="https://discordapp.com/widget?id=657631998634098699&theme=dark" width="300" height="412" allowtransparency="true" frameborder="0"></iframe>
                    </div>
                </section>
    
                <section class="bloco" id="Vips">
                    <div class="standard">
                        <img src="images/Vip_Standard.png" alt="Logo Lite.">
                        <h1>Standard</h1>
                        <div class="btn">
                            <a href="http://www.cisla.com.br/shop/product/15"><button class="compras1">Comprar Mensal</button></a>
                            <a href="http://www.cisla.com.br/shop/product/16"><button class="info1">Comprar Eterno</button></a>
                            <div class="standardpop-up" id="standardpop-up">
                                <div class="btn2">
                                    <a href="javascript: fechar();"><button class="fechar" id="btn_fechar1">Fechar</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Zeus">
                            <img src="images/Vip_Zeus.png" alt="Logo Pro.">
                            <h1>Zeus</h1>
                            <div class="btn">
                                <a href="http://www.cisla.com.br/shop/product/17"><button class="compras1">Comprar Mensal</button></a>
                                <a href="http://www.cisla.com.br/shop/product/18"><button class="info1">Comprar Eterno</button></a>
                            </div>
                        </div>
                    <div class="Armagedon">
                            <img src="images/Vip_Armagedon.png" alt="Logo Armagedon.">
                            <h1>Armagedon</h1>
                            <div class="btn">
                                <a href="http://www.cisla.com.br/shop/product/19"><button class="compras1">Comprar Mensal</button></a>
                                <a href="http://www.cisla.com.br/shop/product/20"><button class="info1">Comprar Eterno</button></a>
                            </div>
                        </div>
                    <div class="Extreme">
                        <img src="images/Vip_Extreme.png" alt="Logo Armagedon.">
                        <h1>Extreme</h1>
                        <div class="btn">
                            <a href="http://www.cisla.com.br/shop/product/21"><button class="compras1">Comprar Mensal</button></a>
                            <a href="http://www.cisla.com.br/shop/product/22"><button class="info1">Comprar Eterno</button></a>
                        </div>
                    </div>
                    <div class="Special">
                        <img src="images/Vip_Special.png" alt="Logo Armagedon.">
                        <h1>Special</h1>
                        <div class="btn">
                            <a href="http://www.cisla.com.br/shop/product/23"><button class="compras1">Comprar Mensal</button></a>
                            <a href="http://www.cisla.com.br/shop/product/24"><button class="info1">Comprar Eterno</button></a>
                        </div>
                    </div>
                </section>
    
                <section class="bloco" id="Cash">
                    <div class="cash5">
                            <img src="images/cash_5.png" alt="Logo Cash 5.">
                            <h1>5 Cash.</h1>
                        <div class="btn">
                            <a href=""><button class="compras1">Em Breve</button></a>
                            <a href=""><button class="info1">Detalhes</button></a>
                        </div>
                    </div>
                    <div class="cash20">
                            <img src="images/cash_20.png" alt="Logo Cash 20.">
                            <h1>20 Cash (+2 Bônus).</h1>
                        <div class="btn">
                            <a href=""><button class="compras1">Em Breve</button></a>
                            <a href=""><button class="info1">Detalhes</button></a>
                        </div>
                    </div>
                </section>
    
                <section class="bloco" id="Unban">
                    <div class="unban">
                            <img src="images/unban.png" alt="Logo unban.">
                            <h1>Unbanimento universal.</h1>
                        <div class="btn">
                            <a href=""><button class="compras1">Em breve</button></a>
                            <a href=""><button class="info1">Detalhes</button></a>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <div class="footer">
            <footer>
                <h1> 
                    SlowkPvP™
                </h1>
                <p>
                    Todos os direitos reservados.<br >Não temos quaisquer ligaçoes com a Mojang AB.<br >2018 - 2019
                </p>
            </footer>
        </div>
    </body>    
</html>
